<header class="topbar">
  <div class="container topbar__inner">
    <a class="logo" href="/">
      <img
        src="/images/logo.png?v=2"
        alt="Logo Annuaire de tatoueurs"
        class="logo__img"
      />
      <span class="logo__text">Annuaire</span>
    </a>

    <nav class="menu">
      <a href="/conseils">Conseils</a>
      <a href="/lexique">Lexique</a>
      <a href="/artists/login" class="menu__login">Connexion artiste</a>
      <a href="/artists/apply">Inscription artiste</a>
    </nav>
  </div>
</header>