<header class="topbar">
  <div class="container topbar__inner">
    <a class="logo" href="/">
      <img src="/images/logo.png?v=1"
      <span class="logo__text">Annuaire</span>
    </a>

    <nav class="menu">
      <a href="/conseils">Conseils</a>
      <a href="/formations">Hygiène &amp; salubrité</a>
      <a href="/artists/login" class="menu__login">Connexion artiste</a>
      <a href="/artists/apply">Inscription artiste</a>
    </nav>
  </div>
</header>
