<header class="topbar">
    <a href="/" class="brand">Annuaire</a>
    <nav class="nav">
        <a href="/artists">Tatoueurs</a>
        <a href="/artists/create">Inscription</a>
    </nav>
</header>