<header class="topbar">
  <a href="/" class="brand">
    <img src="/images/logo.png" alt="Annuaire de tatoueurs" class="brand__logo">
  </a>

  <nav class="nav">
    <a href="/conseils">Conseils</a>
    <a href="/formations">Hygiène &amp; salubrité</a>
    <a href="/artists/create">Inscription artiste</a>
  </nav>
</header>
