<!DOCTYPE html>
<html lang="fr">
<%- include("partials/head") %>

    <body>
        <%- include("partials/header") %>
            <main class="container">
                <h1>Accueil</h1>
                <a class="btn" href="/artists">Voir les tatoueurs</a>
            </main>
            <%- include("partials/footer") %>
    </body>

</html>